<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css" />
  </head>
  <body>
    {% if msg %} {% if color %}
    <div style="background-color: green">{{msg}}</div>
    {% else %}
    <div class="message">{{ msg }}</div>
    {% endif %} {% endif %}
    <h1>Dashboard</h1>

    <div class="integration-container">
      <div>Older Integrations</div>
      {% if old_tg_integrations %}

      <table border="1" rules="all">
        <thead>
          <tr>
            <th>Configuration</th>
            <th>Bot</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for integration in old_tg_integrations %}
          <tr>
            <td>{{ integration.configuration }}</td>
            <td>{{ integration.bot_name }}</td>
            <td>
              {% if integration.status %} Active {% else %}
              <form
                action="/tg_activation/{{integration.configuration_id}}/{{integration.bot_token}}"
              >
                <button type="Submit">Activate</button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% endif %} {% if old_wp_integrations %}

      <table border="1" rules="all">
        <thead>
          <tr>
            <th>Configuration</th>
            <th>Phone number</th>
            <th>Get url</th>
          </tr>
        </thead>
        <tbody>
          {% for integration in old_wp_integrations %}
          <tr>
            <td>{{ integration.configuration }}</td>
            <td>{{ integration.phone_number }}</td>
            <td>
              <button
                id="get_wp_webhook_url"
                data-configuration-id="{{integration.configuration_id}}"
              >
                Get
              </button>
            </td>
          </tr>
          <div class="integration">{{ integration.configuration }}</div>
          {% endfor %}
        </tbody>
      </table>

      {% endif %}

      <form action="/new_integration" method="get" class="integration">
        <label for="configuration">New Integration:</label><br />
        <input
          type="radio"
          name="configuration"
          id="configuration"
          value="telegram"
          required
        />Telegram<br />
        <input
          type="radio"
          name="configuration"
          id="configuration"
          value="whatsapp"
          required
        />WhatsApp<br />
        <label for="open_ai_key">Open AI Key:</label><br />
        <input
          type="text"
          name="open_ai_key"
          id="open_ai_key"
          placeholder="Open AI Key"
          required
        /><br /><br />
        <button type="submit">New Integration</button>
      </form>
    </div>

    <script>
      const get_wp_webhook_url = (configuration_id) => {
        var baseURL =
          window.location.protocol + "//" + window.location.host + "/";
        webhook_url = baseURL + "/whatsapp/" + configuration_id;
        alert(webhook_url);
      };

      document
        .getElementById("get_wp_webhook_url")
        .addEventListener("click", function () {
          var baseURL =
            window.location.protocol + "//" + window.location.host + "/";
          var configuration_id = this.getAttribute("data-configuration-id");
          webhook_url = baseURL + "/whatsapp/" + configuration_id;
          alert(webhook_url);
        });
    </script>
  </body>
</html>
