<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css" />
  </head>
  <body>
    {% if msg %} {% if color %}
    <div style="background-color: green">{{msg}}</div>
    {% else %}
    <div class="message">{{ msg }}</div>
    {% endif %} {% endif %}
    <h1>Dashboard</h1>

    <div class="integration-container">
      <div>Older Integrations</div>
      <table border="1" rules="all">
        <thead>
          <tr>
          <th>Configuration</th>
          <th>Bot</th>
          <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for integration in old_integrations %}
          <tr>
            <td>{{ integration.configuration }}</td>
            <td>{{ integration.bot_name }}</td>
            <td>
              {% if integration.status %}
                Active
              {% else %}
                <form action="/activation/{{integration.configuration_id}}/{{integration.bot_token}}">
                  <button type="Submit">Activate</button>
                </form>
              {% endif %}
            </td>
          </tr>
          <div class="integration">{{ integration.configuration }}</div>
          {% endfor %}
        </tbody>
      </table>
      



      <form action="/new_integration" method="get" class="integration">
        <label for="configuration">New Integration:</label><br />
        <input
          type="radio"
          name="configuration"
          id="configuration"
          value="telegram"
          required
        />Telegram<br />
        <label for="open_ai_key">Open AI Key:</label><br />
        <input
          type="text"
          name="open_ai_key"
          id="open_ai_key"
          placeholder="Open AI Key"
          required
        /><br /><br />
        <button type="submit">New Integration</button>
      </form>
    </div>
  </body>
</html>
