<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../static/register.css">
  </head>
  <body>
    <h1>Register</h1>
    {% if error %}
    <div class="message">{{ error }}</div>
    {% endif %}
    <form action="/register" method="post">
      <input type="text" id="name" name="name" placeholder="Name" required />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
